*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    color: rgba(1, 1, 151, 0.897);
    text-decoration: none;
    font-weight: bold;
    
}

.loginbox{
    display: flex;
    background: url(img/giphy.gif) no-repeat center top;                
    background-size: cover;
    height: 100vh;
    
}
.box{
    margin: auto;
    display: flex; 
    flex-flow: column wrap;
    align-content: center;
    width: 260px;
    padding: 50px;
    background: rgba(248, 246, 246, 0.623);
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .50);
    font-size: 16px;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.center{
    display: flex;
    justify-content: center;
}

.data{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

.btn-login{
    width: 107%;
    height: 36px;
    background:#a6ffcb;
    padding: 10px 20px;
    margin: 30px 0;
    border: none;
    border-radius: 5px;
}
.logo-pokemon{
    height: 77px;
    width: 267px
}
.letra{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.hide {
    display: none;
}
.cara2{
    background: rgba(71, 250, 65, 0.46);           
    background-size: cover;

}
.pokeimg{
text-align: center;
}
.mostrar{
        display: inline-block;
        width: 394px;
        border: 5px solid black;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        border-radius: 5px;
        margin: 10px;
}
.selecionar{
    background: rgb(252, 12, 252);
    border-radius: 5px;
    border: 1px solid black;
    height: 41px;
    width: 185px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.cajabotones{
    background:url(img/cara2.1.jpg)no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border: 1px solid black;

}
